
.img-10{ 
	width: 100%;
	height: 100vh;
	background: url(../imagenes/img-19.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-position: center;
}
.img-10 h3{
	padding-top: 10rem!important;
}