.toast {
    position: fixed;
    top: 0;
    left: 70%;
    right: 0;
    margin: 0;
  
    max-width: 400px;
    padding: 15px 0px;
    background: #cccccc;
    color: none;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, top 0.2s, visibility 0.2s;
  }
  .toast .icon-ok{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #75E698;
    font-size: 30px;
}
  .toast--visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
    
  }
  
  .toast .msg{
    font-size: 18px;
    color: #fff;
    text-align: center;

}

.cerrar-btn:hover{
    padding: 1px;
    cursor: pointer;
}
.cerrar-btn .icon-cancel{
    color: #fff;
    font-size: 22px;
    margin: 0;
    float: right;
    position: relative;
    bottom: 10px;
}
  .toast--success {
    background: #00c02b;
    border-color: #009d23;
    color: #ffffff;
  }
  
  .toast--error {
    background: #d50000;
    border-color: #ba0000;
    color: #ffffff;
  }
