<footer>
	<div class="caja1-f">
		<div class="sub-caja1-f">
			<div class="links">
				<h5 class="tiitle-footer">Redes Sociales</h5>
				<br>
				<h5><a href="https://www.facebook.com/" class="hover-facebook" target="_blank"><span class="icon-facebook"></span>/potenciados</a></h5>
				<h5><a href="https://www.instagram.com/" class="hover-instagram" target="_blank"><span class="icon-instagram"></span>@potenciados</a></h5>
				<h5><a href="https://twitter.com/login?redirect_after_login=%2Fsettings%2Faccount" class="hover-twitter" target="_blank"><span class="icon-twitter"></span>/potenciados</a></h5>
				<h5><a href="mailto:potenciados@gmail.com" class="hover-gmail"><span class="icon-gmail"></span>/potenciados@consultas.com</a></h5>
			</div>
		</div>
		<div class="sub-caja2-f">
			<div class="texto-sub-caja3">
			<h5 class="tiitle-footer">Gimnasio</h5>
			<br>
			<h5><a href="#">Mi rutina</a></h5>
			<h5><a href="ejercicios.php">Planes de entrenamiento</a></h5>
			<h5><a href="ejercicios_sub.php?opcion=1">Bajar de Peso</a></h5>
			<h5><a href="ejercicios_sub.php?opcion=3">Aumentar Masa Muscular</a></h5>
			<h5><a href="ejercicios_sub.php?opcion=2">Tonificar</a></h5>
			</div>
		</div>
		<div class="sub-caja3-f">
			<div class="texto-sub-caja4">
			<h5 class="tiitle-footer">Dietas</h5>
			<br>
			<h5><a href="index_mi_dieta.php">Mi dieta</a></h5>
			<h5><a href="mi_dieta.php">Plan nutricional</a></h5>
			<h5><a href="mi_dieta_sub.php?opcion=1">Dieta para Bajar de Peso</a></h5>
			<h5><a href="mi_dieta_sub.php?opcion=3">Dieta para Masa Muscular</a></h5>
			<h5><a href="mi_dieta_sub.php?opcion=2">Dieta para Tonificar</a></h5>
			</div>
		</div>
		<div class="sub-caja4-f">
			<div class="texto-sub-caja2">
			<h5 class="tiitle-footer">Otros</h5>
			<br>
			<h5><a href="contacto.php">Contacto</a></h5>
			
			</div>
		</div>
		<div class="desarrollo">
			<a  href="http://www.luisprado.ml/" target="blank"><h6>© Copyright  2021 - Luis Prado Desarrollador Web</h6></a>
		</div>
	</div>
</footer>