<div class="contenedor">
	<section>
		<div class="img-1">
			<h3>Rutinas para todo momento y lugar</h3>
			<p>En este gimnasio online tenemos planes de entrenamiento con las rutinas 
			y ejercicios que te ayudaran a tener un cuerpo mas saludable y resistente.
		</div>
		<div class="img-4">
			<h3>Dietas y Nutricion</h3>
			<p>En Potenciados hemos desarrollado planes nutricionales y recetas saludables exlusivos para vos, como complemento a nuestras clases, vídeos y tablas de ejercicio para hacer en casa. ¡Lleva una vida sana y feliz!.</p>
		</div>
		</div>
	</section>
</div>