<div class="caja1">
	
	<form action="contacto.php" method="GET">
		<div class="iconos">
			<a href="index.php" ><img src="imagenes/favicon.ico"></a>
		</div>
		<div class="contact">
			<h5>Contacto</h5>
			<input type="text" name="nombre" placeholder="Nombre..." required>
			<input type="email" name="correo" placeholder="correo@example.com" required>
			<textarea name="comentario" cols="30" rows="10" placeholder="Dejanos tu Comentario"></textarea>
		</div>
		<div class="politic">
			<h5>Politica de Privacidad</h5>
			<div class="texto"><p class="politica"> Resolver dudas y atender consultas de nuestros usuarios. Base Jurídica: Consentimiento expreso del usuario. Destinatarios: No se cederán datos a terceros, salvo obligación legal. Derechos: Tiene derecho a acceder, rectificar y suprimir los datos, así como otros derechos, indicados en la información adicional, que puede ejercer enviando un correo electrónico. Procedencia: Los datos proceden del propio interesado al darse de alta en la plataforma o al rellenar este formulario de contacto.</p>
			</div>
			<div class="check"><input type="checkbox" name="acepto" value="1" required><h5>Acepto la Politica de Privacidad</h5><br></div>
		</div>
		<div class="enviar">
			<input type="submit" name="inicio" value="ENVIAR" id="comenta">
		</div>
		
	</form>
</div>
